form{
  margin-top:15px;
  height:30px;
}
#formContent{
  text-align: center;
}

#showFavButton{
  display: inline-block;
  margin-bottom:10px;
  border-radius: 50%;
  width:45px;
  height:40px;
}
.btn-primary:hover{
  color:none !important;
}

input[type=submit]{
color:white; 
border-radius:10px;
background-color:black;
padding:5px;
}

.delete{
  margin-top:5px;
}


img{
  height:160px;
  width:170px;
  margin-top:40px;
  position:relative;
}
.historyBtn{
  display:block;
  margin-top:15px;


}
.btn{
  display:block;
  margin:0 auto;
  margin-top: 10px;
  min-width:100px;
}

button{
  max-width:130px;
}

.heartBtns{
  display:block;
  margin:0 auto;
  margin-top: 10px;
  min-width:100px;
}

#buttonDisplay{
  border-radius:10px;
  height:100%;
  background-color:red;
  text-align:center;
  padding:5px;
}

.null-result{
  margin-top:30px;
  font-weight:900px;
  color: #9B0707;
}

.gif{
  display:inline-block;
  width:200px;
  height:250px;
}
.add2Fav{
  text-align:center;
  display:inline-block;
  margin-top:5px;
}
.add2Fav:hover{
  color:pink;
}

#showFav{
  margin-top:2px;
  cursor: pointer;
  color:pink;
  font-size: 20px;
  padding-top:6.3px; 
  background:black;
  border-radius: 50%;
  height:30px;
  width:30px;
}

#showFav:hover{
  color:rgb(234, 12, 12);
  transition:1s;
}

/* changes color of heart on click  */
.pinkHeart{
  color:pink;
  cursor:pointer;
}




@media only screen and (max-width: 991px){
  .history{
    margin-top:15px;
  }
  #theDiv{
    text-align: center;
  }
}
