body{
  position: relative;
}

form{
  height:50px;
  background-color: #fff;
  width:100%;
}

.history-burger{
  display:none;
}

#formContainer{
  text-align: center;
  z-index:0;
}

#showFavButton{
  display: inline-block;
  margin-bottom:10px;
  border-radius: 50%;
  padding:15px;
  width:45px;
  height:40px;
}
.btn-primary:hover{
  color:none !important;
}
.search-field{
  margin-top:-10px;
}



#submit{
  margin-top:-10px;
}
.delete{
  margin-top:5px;
}


img{
  height:160px;
  width:170px;
  margin-top:40px;
  position:relative;
}
.historyBtn{
  display:block;
  margin-top:15px;


}
.btn{
  display:block;
  margin:0 auto;
  margin-top: 10px;
  min-width:100px;
}

button{
  max-width:130px;
}

.heartBtns{
  display:block;
  margin:0 auto;
  margin-top: 10px;
  min-width:100px;
}

#buttonDisplay{
  border-radius:10px;
  height:100%;
  background-color:red;
  text-align:center;
  padding:5px;
}

.null-result{
  margin-top:30px;
  font-weight:900px;
  color: #9B0707;
}

.gif{
  display:inline-block;
  width:200px;
  height:250px;
}
.add2Fav{
  text-align:center;
  display:inline-block;
  margin-top:5px;
}
.add2Fav:hover{
  color:pink;
}

#showFav{
  margin-top:2px;
  cursor: pointer;
  color:pink;
  font-size: 20px;
  padding-top:6.3px; 
  background:black;
  border-radius: 50%;
  height:30px;
  width:30px;
}

#showFav:hover{
  color:rgb(234, 12, 12);
  transition:1s;
}

/* changes color of heart on click  */
.pinkHeart{
  color:pink;
  cursor:pointer;
}

#submit{
  display: inline-block;
  margin:0px;
  padding:none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display:block !important;
}



@media only screen and (max-width: 991px){
#form-container{
  z-index:0;
  height:100px;
  background-color: white;
  margin-bottom:0px;
}
  #button-display{
    display:none;
  }

  .history-burger{
    display:inline-block;
    position:absolute;
    bottom:0;
    position: fixed;
  }

  .button-display-header{
    color:white;
  }


}
